
textarea#mnemoTxt {
  resize: none !important;
}

textarea#bip39seed {
  resize: none !important;
}

.mnemo-tab {
  display: none;
}

.info-tab {
  display: none;
}

.address-tab {
  display: none;
}

.tools-tab {
  display: none;
}
